#btnHealth {
	-fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #377F4F 0%, #526A5A 100%),
        #526A5A,
        #526A5A,
        radial-gradient(center 50% 50%, radius 100%,#87E8A7,#4BBA70);
    -fx-effect: dropshadow( #526A5A , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}
#back{
	-fx-background-color:rgba(175,230,108,1);
}